body{
  padding: 0;
  margin: 0;
  background-color: rgb(15, 13, 13);
  overflow-x:hidden;
}

.forcolor{
  background-color: black;
}
.maincontainer{
  width:100%;
  position: sticky;
} 
.navbar{
 padding: 0px;
 width: 100vw
} 
.img1{
width:100%;  
}
.card{
border-style: solid; 
border:none;
outline:none;
}

  @media screen and (max-width:3000px){
    .container-fluid{
      height:135px;
      background-color: rgb(15, 13, 13);
      max-width: 954px;
    
    }
    .img1{
      width:105%;
      
    }
      .mazdalogo{
        height:90px;
        margin-left: -30px;
      
      }
    
    .d-inline-flex{
     width:51%;
    }
    .btn{
     display:none;
     color:  rgba(205, 204, 204, 0.6);
     background-color: #1E1E1E;
     width:100%;
     letter-spacing: 0.1px;
     font-size: small;
     font-weight: 100; 
     border-radius: 1px;
     height: 46px;
     outline-color: black; 
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     margin-top: 10px;
     margin-right: 30px;
     text-align: start;
    }
    .btn:hover{
      color: rgb(186, 190, 190);
    }
    .card{
      width:100%;
      
    }
    .card-body{
      background-color: #1a1a1a;
      color: rgb(191, 183, 183);
      width:1200px;
      margin-left:-12px;
      margin-top: -6px;
      
    }
    
    .searchbtnbody{
      width:1000px;
      background-color: #1E1E1E;
      padding:20px;
      margin-left:-12px;
      margin-top: -6px;
      border-radius: 1px;
    }
    
    .bi-search{
      display:none;
    color: white;
    font-size: large;
    margin-top: 16px;
    width: 25px;
    }
    
    .navbar-toggler-icon{
      display:none;
      width:40px;
      background-color: aliceblue;
    }
    .bi-list{
      display: none;
      color: white;
      }

      .navbar-toggler{
        display: none;
      }
      .test{
        display: flex;
        display: block;
        padding-top: 90px;
        justify-content: space-between;
       }

       .input-search{
        
        background-color: rgb(15, 13, 13);
        border-radius: 25px;
        border: solid rgb(25, 25, 22);
       
        width:100px;
       }
       .input-search:active{
        border-color: aliceblue;
        outline: none;
       }

     
       .offcanvas{
        background-color: #1E1E1E;
       }

       .imageblock{
        position: absolute;
        top: 21%;
        border-bottom: solid 8px;
        border-color: #1E1E1E;
        background-color: rgb(15, 13, 13);
        z-index: -1;
       }
       .card-img-overlay{
        width:fit-content;
        font-size:x-large;
      }
      }


@media screen and (max-width: 957px){
   .test{
    display: none;
   }

  .container-fluid{
    height:70px;
    background-color: rgb(15, 13, 13);
  }

  .mazdalogo{
    height:39px;
    margin-left: -20px;
  }
  .d-inline-flex{
  width:51%;
  }
  .btn{
  display:block; 
  color:  rgba(205, 204, 204, 0.6);
  background-color: #1E1E1E;
  width:100%;
  letter-spacing: 0.1px;
  font-size: small;
  font-weight: 100; 
  border-radius: 1px;
  height: 46px;
  outline-color: black; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 10px;
  margin-right: 30px;
  text-align: start;
  cursor: pointer;
  }
  .btn:hover{
    color: rgb(186, 190, 190);
  }
  .card{
    width:100%;
    z-index: 1;
  }
  .card-body{
    background-color: #1a1a1a;
    color: rgb(191, 183, 183);
    width:1200px;
    margin-left:-12px;
    margin-top: -6px;
    z-index:1;
  }
  .searchbtnbody{
    width:1000px;
    background-color: #1E1E1E;
    padding:20px;
    margin-left:-12px;
    margin-top: -6px;
    border-radius: 1px;
  }
  .bi-search{
  display:block; 
  color: white;
  font-size: large;
  margin-top: 16px;
  width: 25px;
  }
  .navbar-toggler-icon{
    display:block; 
    width:40px;
    background-color: aliceblue;
  }
  .bi-list{
    display: block;
    color: white;
    }
    .navbar-toggler{
      display: block;
    }

   .imageblock{
     position: absolute;
     top: 11%;
    z-index: -4;    
    }
    .container-middle-image{
      width:100%;
    }
    .middle-text{
      max-width: 710px;
      width: fit-content;
    }
    .card-img-overlay{
      width:fit-content;
      font-size:small;
    }
    .img1{
      width:100%;
      
  }
}


.dropdown-container {
  position: relative;
  display: inline-block; 
}
.dropdown-button {
  background-color: rgb(15, 13, 13);
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;  
}
.dropdown-button:hover{
  background-color: #6c6b6b;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #6c6b6b;
  min-width: 360px;
  border: 1px solid #6f6d6d;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}
.dropdown-content a:hover {
  background-color: #4d4747;
  color: #1E1E1E;
}

.forindex{
  z-index: 5;
}
.navbarimage{
  width: 320px;
  padding:0px;
}

.flu{
  background-color: rgb(40, 41, 40);
  height: max-content;
}

@media screen and (max-width:999px){
  .footer-acco{
  display: block;
  background-color: blue;
  }

  .accordion-item{
    background-color: #333;
    color:white;
  }
  .accordion-button{
    background-color: #333;
    color: rgb(171, 177, 177);
  }
  .accordion-button:focus{
    background-color: #333;
  }
  .large-footer{
    display: none;
  }
}

@media screen and (min-width:999px){
  .footer-acco{
  display: none;
  }
  .foot-font{
    font-size: small;
  }
  .large-footer{
    display: block;
  }
  .col-lg-2>p{
    cursor: pointer;
  }
}